/* reset css*/
*{
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}
header::after{
	content: '';
	display: block;
	clear: both;
	height: 1px;
	visibility: hidden;
}
.logo img {
    display: block;
    margin: 10px auto;
}
header > ul {
    display: inline-block;
}
#menu-main {
    text-align: center;
}
#menu-main ul li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}