* {
margin:0;
padding:0;
list-style:none;
vertical-align:baseline;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.content {
    width: 70%;
    margin: 0 auto;
}
.post-blog {
    width: 65%;
    float: left;
}
.sidebar-blog {
    width: 35%;
    float: left;
}
aside {
    width: 55%;
    margin: 0 auto;
}
h1 {
    padding: 20px 0px 20px 0px;
}
.midia-blog img{
	width: 100%;
}
li:before {
    content: url(assets/img/icon-arquivo.png);
}