/* reset css*/
*{
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}
/* clear */
header::after, section::after, div::after, footer::after{
	content: '';
	display: block;
	clear: both;
	height: 1px;
	visibility: hidden;
}

/*header*/
.logo img {
    display: block;
    margin: 10px auto;
}
header > ul {
    display: inline-block;
}

nav#menu-main a {
    color: white;
    text-decoration: none;
}

nav#menu-main li:hover {
    background: #12670C;
}

#menu-main {
    text-align: center;
    background: #447EFF;
}
#menu-main ul li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.container {
    padding: 1rem 3rem 1rem 3rem;
    margin: 0 auto;
}

h1 {
    color: #447EFF;
    text-align: center;
    line-height: 2;
}

/* Main */
.col-4 {    width: 25%;    background: #c3c3c3;    min-height: 250px;    float: left;}
.colunas {margin-top: 20px;}

/* Footer */
footer {width: 100%; }
.footer-copy { color:white; text-align: center; padding:10px; background:#484848;}
