/* reset css*/
*{
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
	box-sizing: border-box;
}
/* clear */
header::after, section::after, div::after, footer::after{
	content: '';
	display: block;
	clear: both;
	height: 1px;
	visibility: hidden;
}

/*header*/
.logo img {
    display: block;
    margin: 10px auto;
}
header > ul {
    display: inline-block;
}
#menu-main {
    text-align: center;
}
#menu-main ul li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.container {
    padding: 1rem 3rem 1rem 3rem;
    margin: 0 auto;
}

/* Main */
.col-3 {
    width: 33.33%;
    float: left;
    padding: 15px;
}
.col-4 {    width: 25%;    background: #c3c3c3;    min-height: 250px;    float: left;}

/* Footer */
footer {width: 100%; }
.footer-copy { color:white; text-align: center; padding:10px; background:#484848;}
